html{
  background-color:	#FFD700;
 
  }
a {
  color:black;
  font-size:34px;
 padding:10px
 
  }
a:link {
    text-decoration: none;
  
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
h1{
  font-family: 'Jim Nightshade', cursive;  
  text-align:center;
    font-size:50px;
    padding :15px
    

  }
.character {
  font-family: 'Satisfy', cursive;
 font-size:30px;
 color:black;
 padding:10px;
  text-decoration:none;
  }
h2{
font-family:'Architects Daughter', cursive;
text-align:center;
}
