html {
  background-color:	#FFD700;
    font-family :"lucida handwriting" ;
  text-decoration:none;
  }
a {
  font-size:34px;
 padding:10px
  }
h1 {
    text-align:center;
    font-size:50px;
    padding :15px
    
  }
.character {
 font-size:30px;
 color:black;
 padding:10px;
  }
h2{
font-family:"roboto"
}
