 
html {
    text-align:center;

  }
body {
    font-family :calibri ;
    text-align:center;
    font-size:15px
    
  }
h1 {
    font-family :lucida handwritten ;
    text-align:center;
    font-size:50px;
    padding :10px
    
  }
img { 
    padding:2px;
    border:2px solid #021a40;
    background-color:white;
}
.label {
 font-size:15px;
 padding:10px;
 color : blue;
 
}
.label2 {
 font-size:15px;
 padding:10px;
 color : white;
 
}
.gryffindor {
   background-color:orange
  }
  .slytherin {
  background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRckhEcNrhz_xYFcUO74SF3JaOrE03dOHloJlGMZ8ppgRRCDJ5kDx9v-X4) green ;
  }
   .ravenclaw {
    background-color:grey
  }
    .hufflepuff {
    background-color:yellow
  }
