
.label {
 font-size:30px;
 padding:10px;
}
.heading {
  font-size:34px
}
.html {
  background-color:	#FFD700;
  text-decoration:none;
  
}
 .gryffindor {
   background-color:orange
   
 } 
  .slytherin {
    background-color:green
    
  }
  .ravenclaw {
    background-color:grey
    
  }
  .hufflepuff {
    background-color:yellow
    
  }
  .body {
    font-family :calibri ;
    text-align:center;
    font-size:15px
    
  }
  .h1 {
    font-family :lucida handwritten ;
    text-align:center;
    font-size:50px;
    padding :10px
    
  }
