 
 html {
    text-align:center;

  }
body {
    font-family :calibri ;
    text-align:center;
    font-size:15px
    
  }
  h1 {
    font-family :lucida handwritten ;
    text-align:center;
    font-size:50px;
    padding :10px
    
  }
.gryffindor {
   background-color:orange
  }
  .slytherin {
    background-color:green
  }
   .ravenclaw {
    background-color:grey
  }
    .hufflepuff {
    background-color:yellow
  }
