 
html {
    text-align:center;
padding-bottom:100px;
 
  }
body {
    font-family :"calibri" ;
    text-align:center;
    font-size:15px
    
  }
div {
text-align:center;
}
h1 {
    font-family :"lucida handwriting" ;
    text-align:center;
    font-size:50px;
    padding :10px
    
  }
img { 
    padding:2px;
    border:2px solid #021a40;
    background-color:white;
}
.label {
 font-size:15px;
 padding:10px;
 color : blue;
 
}
p {
 font-size:15px;
 padding:10px;
 color : white;
 width:150px;
}
.gryffindor {
   background: url(http://img13.deviantart.net/2587/i/2015/254/0/3/harry_potter_wallpaper__gryffindor_stripes_by_theladyavatar-d5z2f66.jpg) orange no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  }
  .slytherin {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/1b/a3/76/1ba37601077b40651fbed7f078363ac5.jpg) green no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


   .ravenclaw {
   background: url(https://s-media-cache-ak0.pinimg.com/originals/0c/6f/32/0c6f32fc76eda8690fcff50b2e4f9a7c.jpg) grey no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
    .hufflepuff {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS82tYFEsw_l2amyNxvqxZuE8jFDUlTwA5ky8CicYrFl0jDB7YO) yellow no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.green{
background-color:green;
margin-right:300px; 
margin-left:300px;
}
